//body style - center with space
.bodyStyle{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

//center all
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

//may not need this - remove img on phone
.img-none{
    @media @phone{
        display: none;
    }
}